/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  padding: 0;
  margin: 0;
}

picture,
source {
  display: block;
}

ol,
ul {
  list-style: none;
}

a,
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='image'] {
  color: var(--font-color);
  text-decoration: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
  transition: var(--transition);

  &:hover,
  &:active,
  &:focus {
    color: var(--link-color);
  }

  &:hover {
    opacity: 0.8;
  }
}

:--heading {
  margin: 0;
  font-size: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pc {
  display: none;
}
/* ==================================================
Normalization for Third party
================================================== */
/* text truncation (dotdotdot) */
.truncation {
  visibility: hidden;
  /* transform: translate3d(0, -10px, 0); */
  opacity: 0;
  transition: all 0.6s linear;

  &.ready {
    visibility: visible;
    /* transform: translate3d(0, 0, 0); */
    opacity: 1;
  }
}
/* Web font		@ https://github.com/typekit/webfontloader#events */
.wf {
  opacity: 0;
  transition: all 0.4s linear;
}

.wf-active,
.wf-inactive {
  & .wf {
    opacity: 1;
  }
}
/* lazy load (lazysizes) */
[data-src],
[data-srcset],
[data-bgset],
.imagecontainer-img {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s;

  &.lazyloaded,
  &.loaded {
    /* visibility: visible; */
    opacity: 1;
  }
}

[data-sizes='auto'] {
  display: block;
  width: 100%;
}

.imagecontainer {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
  }
}

.imagecontainer-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  @nest .is-contain.imagecontainer & {
    object-fit: contain;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'object-fit: contain';
  }

  @nest .is-cover.imagecontainer & {
    object-fit: cover;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'object-fit: cover';
  }
}

@media (--viewport-medium) {
  .pc {
    display: block;
  }

  .sp {
    display: none;
  }
}
