body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
  background: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}
/* .inner {
  box-sizing: border-box;
  width: 100%;
  padding: 0 3.1%;
}

@media (--viewport-medium) {
  .inner {
    max-width: var(--base-width);
    padding: 0 40px;
    margin: 0 auto;
  }
} */
